h1{
    text-align: center;
    font-family: 'Lateef', cursive;
  }
  p{
    text-align: right;
    font-size: 0.7rem;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    margin-left: 20%;
    margin-right: 20%;
    
  }
div{
  margin-top: 0
  
}
  #almohtaref{
position: absolute;
display: flexbox;
h5{
  text-align: right;
  font-size: 1.3rem;
  
}


}
.nav{
  margin-left: 50%;
  
}
.ok{
  position: absolute;
  margin-left: 100px;
  z-index: -100;
}
a:-webkit-any-link {
  color: rgb(126, 189, 32);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  font-family: 'Aref Ruqaa', serif;
  margin-left: 50%;
  font-size: 1.5rem;




  }
  a:hover{
   
    transition: 0.7ms;
  }
  
element.style {
  margin-left: 100px;
}
.img{
  z-index: 0;
}
.ok:hover{
  display: none;
  transition: 1s;
}
img:hover{
  display: none;
}
button{
 background-color:#487eb0;
 color:#2d3436;
 
 border-radius: 10px;
 margin-left: 50%;
 margin-right: 50%;
 margin-top: 10%;
 font-size: 1.3rem;
 margin-bottom: 10%;
 position: absolute;
 
}
button:hover{
  background:#00a8ff;
}
em {
  color:white;
}
